name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:

  unit-tests:
    name: Unit Test & Coverage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Example: HTML/CSS linting
      - name: Install HTMLHint
        run: npm install -g htmlhint

      - name: Run HTML lint
        run: htmlhint "**/*.html"

  security-scan:
    name: Security Scan
    runs-on: ubuntu-latest
    needs: unit-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Simple security scan
      - name: Trivy filesystem scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          severity: HIGH,CRITICAL
          exit-code: 0

  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: security-scan

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

      - name: Deploy
        uses: actions/deploy-pages@v4
